body{
	background: #f5d9d5;
}

#mainnav{
	font-family: 'Nunito', sans-serif;
	font-weight: 100;
}

#mainnav .nav-item{
	font-size: 1.5rem;	
}

#mainnav .navbar-brand{
	font-size: 1.5rem;
	color: #EA1C2C;
}

#navbarNav a{
	color:white;
}

#navbarNav a:hover{
	color:#EA1C2C;
}

#p1 h1{
	color: white;
	font-size: 4rem;
	font-weight: 100;
	font-family: 'Nunito', sans-serif;
}

#p1 span{
	color: #EA1C2C;
}

#p2 h2{
	font-family: 'Nunito', sans-serif;
	color: #EA1C2C;
	font-weight: 100;
	font-size: 2.5rem;
}

#p2 p{
	color: #f498b8;
	line-height: 2;
	font-weight: 100;
	font-size: 1.125rem;
	/*margin-bottom: 100px;*/
}

#p2{
	margin-top: 100px;
}

#p1{
	margin-bottom: 100px;
}

@media (max-width: 1220px)
{
	#p1 h1{
	color: white;
	font-size: 3rem;
	font-weight: 100;
	font-family: 'Nunito', sans-serif;
	}

	#p2 h2{
	font-family: 'Nunito', sans-serif;
	color: #EA1C2C;
	font-weight: 100;
	font-size: 2rem;
	}
}