html{
	height: 100%;
}

#abc{
	text-align: center;
	padding-top: 20%;
	font-family: 'Lato', sans-serif;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 8px 23px yellow(0,0,0,0.1);
}

body{
	background: url(https://images.unsplash.com/photo-1534361960057-19889db9621e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
	background-size: cover;
	background-position: center;
	font-family: 'Lato', sans-serif;
}

.container {
	width: 80%;
}

hr{
	width : 30%;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

h1,h3 {
	color: white;
}

h1{
	font-size: 5em;
	font-weight: 700;
}

.btn .btn-default {
	font-weight: 700;
}

button a
{
	color : black;
}

button a:hover
{
	text-decoration: none;
	color: black;
}