.nav-link
{
	margin-left: 8px;
	font-size: 14px;
	margin-right: 7px;
}

#a
{
	border-left: 1px solid rgba(255,255,255,0.5);
}

#topsec
{
	background: url('../Images/image1.jpg');
	background-position: 0 -360px;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#copyright
{
	background-color: black;
}

#contact
{
	border : 1px rgba(0,0,0,0.125) solid;
	border-radius: 6px;
}

#contform
{
	border : 1px rgba(0,0,0,0.125) solid;
	border-radius: 6px;
}

.container1
{
	max-width: 1500px;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	align-self: center;
	align-content: center;
}

#staff p
{
	font-size: 13px;
	margin-top: 10px;

}